In [105]:
import sqlite3
import pandas as pd
import numpy

In [93]:
# def rename(dataframe):
# #     col=['Date','Ref','Ab_change','Rel_change','Close','Vol','Open','High','Low','Agreement','For_sell','For_buy','For_net']
    
#     col=['Date','Ref','Ab_change','Rel_change','Close','Vol','Open','High','Low','Agreement','For_sell','For_buy']
# #     dataframe.columns = dataframe.iloc[0,:]
# #     dataframe.drop(index=0,inplace=True)
#     dataframe.drop(columns=['STT'],inplace=True)
#     dataframe.reset_index(inplace=True,drop=True)
    
    
#     dataframe.columns = col

In [94]:
def thousand_handle(ar):
    if type(ar) == str:
        if '%' in ar:
            ar = ar.replace('%','')
            ar= ar.replace(',','')
            ar = ar.replace('.','')
            ar = int(ar)/10000
        else:
            ar= ar.replace(',','')
#             ar = ar.replace('.','')
            ar = float(ar)
    return ar

In [139]:
def all_handle(dataframe):
#     rename(dataframe)
    dataframe.drop(columns=['Unnamed: 0','STT'],inplace=True)
    dataframe.dropna(how='all',axis=0,inplace=True)
#     dataframe['Ngày'] = pd.to_datetime(dataframe['Ngày']) 
#     for col in dataframe.columns:
#         dataframe[col] = dataframe[col].map(thousand_handle)
    return dataframe

In [131]:
def sql_conn(ind):
    conn =  sqlite3.connect('./Data/%s.db'%ind)
    return conn

In [136]:
def to_sql(dataframe,stk,conn,if_existed):
    dataframe.to_sql('%s'%stk,con=conn,if_exists = if_existed)

In [126]:
def get_stk(stk):
    return pd.read_sql('select * from %s' %(stock),con=conn)
# It's better if we could add cols argurment for choosing  columns.
#     if not cols:
#         return pd.read_sql('select * from %s' %(stock),con=conn)
#     else:
#         cols.append(stk)
#         return pd.read_sql('select %s from %s' %(cols),con=conn)

In [43]:
stock = 'gvr'
indust = 'rubber'

In [148]:
df = all_handle(pd.read_excel('%s.xlsx'%stock, engine='openpyxl',converters= {'Ngày': pd.to_datetime},thousands=','))

In [149]:
conn =  sql_conn('rubber')

In [150]:
to_sql(df,stock,conn,'replace')

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [151]:
df1 = get_stk(stock)
df1

,index,Ngày,Giá Tham Chiếu,+/- (*),% (*),Đóng Cửa (*),Khối Lượng,Mở Cửa (*),Cao Nhất(*),Thấp Nhất(*),Giao Dịch Thỏa Thuận,Nước Ngoài Mua,Nước Ngoài Bán
0,0,2021-01-13 00:00:00,29.80,2.05,6.88%,31.85,15851200.0,30.50,31.85,30.50,0.0,542600.0,516000.0
1,1,2021-12-01 00:00:00,29.35,0.45,1.53%,29.80,3876400.0,29.40,29.85,29.00,0.0,6700.0,44600.0
2,2,2021-11-01 00:00:00,29.00,0.35,1.21%,29.35,5430200.0,29.35,29.95,28.50,0.0,6700.0,44600.0
3,3,2021-08-01 00:00:00,28.30,0.70,2.47%,29.00,6681900.0,28.50,30.00,27.90,24000.0,96500.0,1017200.0
4,4,2021-07-01 00:00:00,28.75,-0.45,-1.57%,28.30,6324200.0,28.90,29.00,28.10,0.0,79100.0,1162600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,690,2018-03-27 00:00:00,9.67,0.56,5.83%,10.23,52200.0,10.14,10.33,9.86,0.0,0.0,0.0
691,691,2018-03-26 00:00:00,9.86,-0.19,-1.90%,9.67,267800.0,9.58,9.86,9.58,50000.0,0.0,250000.0
692,692,2018-03-23 00:00:00,10.23,-0.38,-3.67%,9.86,111800.0,9.95,9.95,9.39,0.0,0.0,0.0
693,693,2018-03-22 00:00:00,10.23,0.00,0%,10.23,260800.0,10.33,10.61,9.58,100000.0,0.0,0.0
694,694,2018-03-21 00:00:00,10.23,0.00,0%,10.23,515800.0,14.08,14.08,9.20,0.0,0.0,0.0